.column1 {
    margin-left: 5%;
    float: center;
    width: 90%;
}

.column2 {
    margin: 0 auto;
    float: center;
    width: 90%;
}

ul{
    width: 100%;
    top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: rgb(49, 55, 68);
}

li{
    display: inline;
}

li a{
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li a:hover{
    background-color: rgb(255, 0, 0);
}

.active{
    background-color: brown;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
}

.logo{
    max-width: 20%;
    height: auto;
}

.progress-bar {
    display: flex;
    gap: .25rem;
}
  
.progress-item {
    flex: 0 0 1.5rem;
    min-width: 1.5rem;
    height: .5rem;
    background-color: rgba(7, 6, 6, 0.5);
}
  
.progress-item.active {
    background-color: rgba(189, 39, 39, 0.9);
}

.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(212, 168, 168);
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}
  
.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, .5);
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.text {
    transition: transform 150ms ease-in-out;
}

.slider {
    --items-per-screen: 1;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}
  
.slider > img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 5;
    padding: var(--img-gap);
    border-radius: 1rem;
}

.textonhonme{
    margin-left: 25%;
    margin-right: 25%;
    color: black;
    font-size: 2rem;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}